p a {
    text-decoration: none;
}

footer {
    /* background-color: rgb(247, 245, 245); */
    color: black;
    padding: 2%;
    /* border-radius: 3px; */
}

a:hover {
    color: black;
}

.social-icons {
    width: 36px;
    height: 36px;
    padding: 2px;
}

.social-icons:hover {
    margin-top: -16px;
}

.btn-top {
    overflow: hidden;
    position: fixed;
    top: 70%;
    left: 90%;
    width: 36px;
    height: 36px;
    float: right;
    border: gray solid 1px;
    border-radius: 6px;
    margin: 1px;
}

.btn-top:hover {
    border: solid 1px rgb(213, 207, 207);
}

.site-ssl {
    border-radius: 2px;
    width: 100px;
    height: 50px;
}

.footer-delivery {
    width: 100%;
}

.footer-payment {
    cursor: pointer;
    width: 320px;
    height: 46px;
}

.maps {
    width: 100%;
    border-radius: 16px;
}

.text-footer {
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 10px 12px;
  border-top: 1px solid #ccc;
  flex-wrap: wrap; /* para responsividade */
}

.menu-footer-column {
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  min-width: 1px;
  text-align: left;
}

.menu-footer-column a {
  color: #333;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 12px;
  transition: color 0.3s ease;
}

.menu-footer-column a:hover {
  color: #007bff;
}
