:root {
    --main-white-color:rgb(197, 197, 197);
    --font-size:16px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: -33px;
    padding: 4px;
    gap: 3%;
    background-color: rgb(75, 71, 71);

}
@media screen and (max-width:768px) {
     .header {
          top: 33px;
     }
}
.header-navbar{
    margin-top: 5vh;
}
.header-car {
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-car:hover{
    color: gray;
}

.header-sub-total {
    color:var(--main-white-color);
     color: #fff;
}
.header-contact{
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-contact:hover{
    color: gray;
}
.header-frete{
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-frete:hover{
    color: gray;
}

